[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
python-decouple = "*"
psycopg2-binary = "*"
pillow = "*"
requests = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"
django-cors-headers = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.8"
